@CHARSET "ISO-8859-1";

#box{
	width: 80%;
	height: 98%;
	background-color: #B8E68A;
	margin: 0 10%;
	position: absolute;
}


#headerSocialBar{
	padding-top: 10px;
	width: 120px;
	float: right;
}

#header{
	width: 80%;
	height: 100px;
	margin-top: 100px;
	margin-left:10%;
	background-color: grey;
}

#searchBar{
	width: 100%;
	height: 20px;
	padding-top: 20px;
	margin-left: 10%;
	text-align: center;
}

/* #divContainer input[type="text"] { ... } */

#searchBar input[type="text"] {
	font-size: 16px;
	width:60%;
	heigth:50px; 
	background-color: #F4FFF4; 
	font-family: Arial,sans-serif;
}

#searchBar input[type="submit"] {
	border: 0;
	min-heigth: 130;
	font-size: 20px;
	display: inline-block;
	background: url(#{resource['img:search.png']}) no-repeat right bottom;
}

#headerBarImage{
	max-width:8%;
	max-height:auto;
	position:absolute;
}

#content{
	width: 80%;
	height: 60%;
	margin-top: 10px;
	margin-left: 10%;
	background-color: grey;
}


a:link {
    color: #FFFFFF;
}
a:visited {
    color: #FFFFFF;
}
a:hover {
    color: #FFFFFF;
}
a:active {
    color: #FFFFFF;
}
ul {
    list-style-image: url('../img/heart-beat.png');
} 
#categories{
	width: 20%; 
	height: 300px;
	margin-top: 10px;
	margin-left: 2%;
	float:left;
	margin: 10px 1.5% 24px 1.5%;
	background-color: #B8E68A;
	border-radius: 15px 15px;
    box-shadow: 10px 10px 50px grey,-10px -10px 50px grey;
}

#searchResult{
	height: 300px;
	width: 51%;
	margin: 10px 1.5% 24px 1.5%;
 	float: left;
 	background-color: #B8E68A;
	border-radius: 15px 15px;
    box-shadow: 10px 10px 50px grey,-10px -10px 50px grey;
}


#offerOfTheDay{
	width: 20%;
	height: 300px;
	margin-top: 10px;
	margin-right: 2%;
	margin: 10px 1.5% 24px 1.5%;
	float: left;
	background-color: #B8E68A;
	border-radius: 15px 15px;
    box-shadow: 10px 10px 50px grey,-10px -10px 50px grey;
}


#footer{
	width: 80%;
	height: 20%;
	text-align: center;
	color: #FFFFFF;
	background-color: #000000;
	margin-left: 0;
    position: fixed;
    bottom: 0;
    opacity: 0.8;
    filter: alpha(opacity=80);	
}